#icone{
	
	a{
		float:right;
		margin-top:10px;
		margin-left:30px;
		border-radius:100%;
		background-color:white;
	}
}


#menu {
	background-color:	#B0C4DE;
	
	
}

#objetivos {
padding-bottom:200px;

h1{
text-align:center;
}
}

#objetivos1{
h2{
text-align:center;
}
p{
text-align:left;
margin-top:10px;
}
img {
width:500px;
float:left;
margin:10px;
}
}



#objetivos2{
margin-top:100px;
h2{
text-align:center;
}
p{
text-align:left;
margin-top:10px;
}
img {
width:500px;
float:right;
margin:10px;

}
}




#objetivos3{
margin-top:100px;
h2{
text-align:center;
}
p{
text-align:left;
margin-top:10px;
}
img {
width:500px;
float:left;
margin:10px;
}
}



#navegacao{
	border-style:none;
	padding:10px;
	width:100%;
}


#lista {
margin-right:5px;
}

#slider {
	
	

	
	}

.fotorama__wrap {
	margin:0 auto;
	
}


#voltar {
position:fixed;
margin-top:40%;
margin-left:5px;
}


#produtos{
background-color:white;
margin-top:10px;

h2{
text-align:center;
}

}




#paralax {
    background-image:url(../img/relaxamento.jpg);
 background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	height:100px;
	text-align:center;
}



#footer{
	background-color:	#B0C4DE;
	
}

#quemsomos{
text-align:left;
}


#icones {

text-align:left;
margin-top:20px;
h4{
display:inline;
}
}


#botao {
float:right;

}

#icones1 {
margin-top:20px;
h4{
display:inline;
}
}



@media screen and (min-width: 100px)  and (max-width: 700px)  {
	

}
